.message-list-container {
  display: flex;
}

.senders-list {
  width: 200px; /* Adjust width as necessary */
  margin-right: 20px;
}

.sender-name {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #30363d;
  color: #c9d1d9;
}

.sender-name.unread {
  font-weight: bold;
}

.sender-name:hover {
  background-color: #161b22;
}

.unread-indicator {
  color: #ff4d4d;
  margin-left: 5px;
}

.conversation-view {
  flex-grow: 1;
}

.conversation-header {
  padding: 10px;
  border-bottom: 1px solid #30363d;
  color: #c9d1d9;
}

.messages {
  padding: 10px;
}

.message-item {
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.unread-message {
  background-color: #f04a4a;
  color: #0d1117;
}
.sender-name.active {
  background-color: #161b22; /* Active conversation background */
  color: #ff4d4d; /* Active conversation text color */
}
