.container-fluid {
    background-color: #0d1117;
    color: #c9d1d9;
    min-height: 100vh;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .left-nav, .center-nav, .right-nav {
    display: flex;
    align-items: center;
  }
  
  .left-nav {
    flex: 1;
    justify-content: flex-start;
  }
  
  .center-nav {
    flex: 1;
    justify-content: center;
  }
  
  .right-nav {
    flex: 1;
    justify-content: flex-end;
  }
  
  .nav-link {
    color: #f78080;
    background-color: #0d1117;
    hover: #f13d3d;
    padding: 10px 15px;
    text-decoration: none;
    margin-right: 20px; /* Adjust as needed */
  }
  
  .nav-link:hover {
    color: #f13d3d;
  }
  
  .welcome-message {
    color: #f87e7e;
    margin-right: 15px;
  }
  
  .inbox-button, .logout-button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #f04a4a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .inbox-button:hover, .logout-button:hover {
    background-color: #f33949;
  }
  
  .display-4 {
    color: #ff4d4d;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
    .left-nav, .center-nav, .right-nav {
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-bottom: 10px;
    }
  
    .nav-link {
      margin-right: 0;
    }
  
    .welcome-message, .inbox-button, .logout-button {
      margin-top: 10px;
      width: 100%;
      text-align: center;
    }
  
    .display-4 {
      margin-bottom: 20px;
    }
  }
  