.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .left-nav, .center-nav, .right-nav {
    display: flex;
    align-items: center;
  }
  
  .left-nav {
    justify-content: flex-start;
  }
  
  .center-nav {
    justify-content: center;
    flex-grow: 1;
  }
  
  .right-nav {
    justify-content: flex-end;
  }
  
  .nav-link {
    color: #c9d1d9;
    padding: 10px 15px;
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: #ff4d4d;
  }
  
  .welcome-message {
    color: #f87e7e;
    margin-right: 15px;
  }
  
  .inbox-button, .logout-button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #f04a4a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .inbox-button:hover, .logout-button:hover {
    background-color: #e0979d;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
    .left-nav, .center-nav, .right-nav {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    .welcome-message, .inbox-button, .logout-button {
      margin-top: 10px;
    }
  }
  